In [4]:
i = 1
while i <=5:
    print(i)
    i = i + 1

print("Finished!")

1
2
3
4
5
Finished!

In [15]:
nums=[3,44,22,46]
nums.append(23)

In [16]:
nums

[3, 44, 22, 46, 23]

In [24]:
nums.insert(2,43)
nums

[3, 22, 43, 43, 46]

In [25]:
nums.reverse()
nums

[46, 43, 43, 22, 3]

In [26]:
nums.sort()
nums

[3, 22, 43, 43, 46]

In [28]:
nums.remove(3)
nums

[22, 43, 43, 46]

In [31]:
nums.pop(2)

46

In [35]:
del nums[1:]
nums

[22]

In [39]:
nums=[1,2,3,4]

In [40]:
nums[1]=5

In [41]:
nums

[1, 5, 3, 4]

In [47]:
tup=(1,3,6,5,8,4,4,4)
tup[1]

3

In [48]:
tup[1]=5

TypeError: 'tuple' object does not support item assignment

In [50]:
tup.count(7)

0

In [53]:
tup.index(5)

3

In [2]:
d={'wasi':12345,'nabeel':34567,'khan':4256776}
d

{'wasi': 12345, 'nabeel': 34567, 'khan': 4256776}

In [4]:
d['wasi']

12345

In [5]:
d['kami']=324556
d

{'wasi': 12345, 'nabeel': 34567, 'khan': 4256776, 'kami': 324556}

In [6]:
'wasi' in d

True

In [7]:
'ali' in d

False

In [9]:
d['arsal']=999

In [10]:
d

{'wasi': 12345, 'nabeel': 34567, 'khan': 4256776, 'kami': 324556, 'arsal': 999}

In [12]:
del d['wasi']

In [13]:
d

{'nabeel': 34567, 'khan': 4256776, 'kami': 324556, 'arsal': 999}